<div class="card-group">
  <div class="card">
    <img src="/images/Screenshot (100).png" class="d-block w-100" alt="congregate">    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/photographyPic.jpg" class="d-block w-100" alt="tennis">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/photographyPic.jpg" class="d-block w-100" alt="photography">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  </div>
</div>
<div class="card-group">
    <div class="card">
    <img src="/images/photographyPic.jpg" class="d-block w-100" alt="photography">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
  </div>
  <div class="card">
    <img src="/images/photographyPic.jpg" class="d-block w-100" alt="photography">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
  </div>
  <div class="card">
    <img src="/images/photographyPic.jpg" class="d-block w-100" alt="photography">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
  </div>
</div>
