<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127918 Check out our current selection! &#127859
    </h2>
  </div>
  <div>
    <div>
      <img src="../public/images/chessPic.png" alt="chess">
      Play some Chess! &#9823
    </div>
    <div>
      <img src="../public/images/chessPic.png" alt="chess">
      Play some Chess! &#9823
    </div>
    <div>
      <img src="../public/images/chessPic.png" alt="chess">
      Play some Chess! &#9823
    </div>
  </div>
</div>