<body>
  <div class="container text-center">
    <div class="row align-items-start">
<div class="col">
  <div class="card">
    <img src="/images/james-stamler-k3heD_KwH0A-unsplash.jpg" class="d-block w-100" alt="Music">    
    <div class="card-body">
      <details>
      <summary>Music</summary>
      <p class="card-text">Music has a significant impact on mental health. Listening to music can ease anxiety and reduce stress. It can also bring forth happy memories and emotions. The benefits of music do not have to be limited to just listening to it, though. You can achieve a sense of accomplishment and enjoyment from learning to play an instrument.</p>
    </div>
    </details>
    <div>
        <button class="subscribe-btn" data-hobby="music" type="click" id="music-subscribe">Subscribe</button>
      </div>
    </div>
  <div class="card"> 
    <img src="/images/gabin-vallet-J154nEkpzlQ-unsplash.jpg" class="d-block w-100" alt="workout">
    <div class="card-body">
      <details>
      <summary>Sports and Exercise</summary>
      <p class="card-text">Physical activity is beneficial to mental health. It releases endorphins in the brain that bring about feelings of happiness and reduce symptoms of depression and anxiety..</p>
    </div>
    </details>
    <div>
        <button class="subscribe-btn" data-hobby="sports">Subscribe</button>
      </div>
  </div>
  <div class="card">
    <img src="/images/jonathan-zerger-yzzJbqQ1O-Y-unsplash.jpg" class="d-block w-100" alt="Fishing">
    <div class="card-body">
      <details>
        <summary>Fishing</summary>
      <p class="card-text">Fishing is also an activity that creates feelings of self-fulfillment and success. Fishing requires skill and creates challenges to overcome. When you overcome challenges and learn the necessary skills to catch fish, you will feel a sense of accomplishment. Fishing is also an opportunity to bond with family or other friends.</p>
  </div>
  </details>
  <div>
        <button class="subscribe-btn" data-hobby="fishing">Subscribe</button>
      </div>
  </div>
</div>
<div class="col">
    <div class="card">
    <img src="/images/markus-spiske-sFydXGrt5OA-unsplash.jpg" class="d-block w-100" alt="Gardening">
    <div class="card-body">
      <details>
        <summary>Gardening</summary>
      <p class="card-text">Exposure to plants and the act of gardening can have a positive effect on mental health. You can enjoy the outdoors and all the beauty that plants have to offer by visiting one of Tampa is botanical gardens, or you can start a garden of your own and find joy in caring for it. You can find and grow plants that are native to Florida to benefit the environment. If you did rather take small steps toward gardening, you can start by taking care of house plants or succulents.</p>
      </div>
      </details>
      <div>
        <button class="subscribe-btn" data-hobby="gardening">Subscribe</button>
      </div>
  </div>
  <div class="card">
    <img src="/images/sixteen-miles-out-3ZvHsFiZyME-unsplash.jpg" class="d-block w-100" alt="Journaling">
    <div class="card-body">
      <details>
        <summary>Journaling</summary>
      <p class="card-text">Journaling can help you relieve stress, cope with depression and manage symptoms of anxiety. Journaling helps you identify and work through any situations in your life that are causing stress, depression or anxiety. This then allows you to create a plan for resolving any negative situations that may be harming your mental health. Journaling also gives you the opportunity to practice positive self-talk and reflect on positive memories.</p>
      </div>
      </details>
      <div>
        <button class="subscribe-btn" data-hobby="journaling">Subscribe</button>
      </div>
  </div>
  <div class="card">
    <img src="/images/aaron-burden-4eWwSxaDhe4-unsplash.jpg" class="d-block w-100" alt="Reading">
    <div class="card-body">
      <details>
        <summary>Reading</summary>
      <p class="card-text">Reading is a relaxing activity that can take your mind off of any stress in your life and transport you to another world created by the pages of a book and your imagination. Visit an independent bookstore in Tampa like the Oxford Exchange Bookstore or Tombolo Books to find your next book, attend an event or join a book club.</p>
      </div>
      </details>
      <div>
        <button class="subscribe-btn" data-hobby="reading">Subscribe</button>
      </div>
  </div>  
  </div>  
  <div class="sub col-2 p-3 mb-2">
    <p class="sub-title">Subscriptions</p>
     <ul id="subscription-list"></ul>
  </div>
  </div>
  </div>
  </body>
  
  <script src="/js/subscribe.js"></script>