<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127918 Advert area &#127859
    </h2>
  </div>
  <div>
    <ul>
      <li>
        <img src="/images/chessPic.png" alt="chess" class="hobbyImage">
        Play some Chess! &#9823
      </li>
      <li>
        <img src="/images/tennisPic.jpg" alt="tennis" class="hobbyImage">
        Play Tennis with your friends or family! &#127934
      </li>
      <li>
        <img src="/images/photographyPic.jpg" alt="camera" class="hobbyImage">
        Try out the wonderful art of Photography! &#128247
      </li>
    </ul>
  </div>
</div>
