<div class="card-group">
  <div class="card">
  <img src="/images/chessPic.png" class="d-block w-100" alt="chess">    
    <div class="card-body">
      <h5 class="card-title">chess</h5>
      <p class="card-text">...</p>
    </div>
  </div>
  <div class="card">
      <img src="/images/tennisPic.jpg" class="d-block w-100" alt="tennis">
    <div class="card-body">
      <h5 class="card-title">tennis</h5>
      <p class="card-text">...</p>
    </div>
  </div>
  <div class="card">
      <img src="/images/photographyPic.jpg" class="d-block w-100" alt="photography">
    <div class="card-body">
      <h5 class="card-title">camera</h5>
      <p class="card-text">...</p>
    </div>
  </div>
</div>
{{#if loggedIn}}
  <div class="nav-item text-end">
    <a class="hobbies-btn" href="/hobbies">Hobbies</a>
  </div>
  {{else}}
  <div class="nav-item text-end">
    <a class="hobbies-btn" href="/login">Hobbies</a>
  </div>
{{/if}}