<div id="login">
  <h3 class="h3 text-center">Login!</h3>
</div>
<div id="invalid" class="d-none">
  <p class="text-center text-danger">Incorrect Email or Password</p>
</div>
<div class="d-flex justify-content-center">
  <form class="login-form">

    <div>
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>  
</div>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>