ul.navbar-nav.col-12.justify-content-end {
    background-color: transparent;
    margin-left: -3.9px;
}

a.navbar-brand {
  background-color: transparent;
}

body.d-flex.flex-column.min-vh-100 {
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 120%;    
}


.card {
  background-color: transparent;
  border: none;
  
}

.card .card-body {
  padding: 0;
  margin-left: 18px;
  color: white;
  font-weight: bolder;
}

a.navbar-brand {
  color: white;
  font-weight: 900;
  font-size: xxx-large;
}

a.nav-link, h5.text-uppercase, p.email {
  color: white;
  font-weight: bolder;
  font-weight: 900;
}

footer.bg-transparent.text-center.text-lg-start.mt-auto {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
